@page
@model IntroModel
@{ViewData["Title"] = "Introduction page";
}



@section UI
{
<div><h3>Naval Sharma</h3></div>
<form method="get">
    <input name="firstNo" type="number" />
    <input name="secondNo" type="number" />
    <input type="submit" value="submit" />
    <output name="result" />
</form>

@if (Model.resultSet == true) {
    
<output>@Model.result</output>}

}